.seed-tiles {
  list-style: none;
  margin: 0;
  padding: 0;
  .clearfix();
}

.seed-tile {
  display: block;
  float: left;
  width: 33%;

  .seed-tile-inner {
    margin: 10px;
    background-color: @color-grayLighter;
  }
}